<div class="container">
    <div class="row">
        <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>Something amazing is coming soon..</p>
        </aside>
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>
                    Hello my name is Dhruv Sahni. I am currently studying CPP course in Seneca Markham campus . This is my 3rd semester at Seneca College.
                </p>
            </article>
        </section>
    </div>
</div>
